<h2>Edit Flight Card</h2>

<%= form_with model: @flight_card, url: launch_flight_card_path(params[:launch_id]) do |form| %>
  <%= render partial: 'form', locals: {f: form} %>
  <%= form.submit 'Update', class: 'btn' %>
  <%= link_to 'Back', launch_flight_cards_path, class: 'btn-flat' %>
  <%= link_to launch_flight_card_path(params[:launch_id]), class: 'btn-flat red white-text', method: :delete do %>
    <i class="material-icons">delete</i>
  <% end %>
<% end %>
