<div class="card">
  <div class="card-content">
    <span class="card-title">Flier Info</span>
    <h6>
      <%= @flight_card.name %>
    </h6>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">
      <%= @flight_card.rocket_manufacturer %> <%= @flight_card.rocket_name %>
    </span>
    <dl class="margins-removed">
      <dt>Motor</dt>
      <dd><%= @flight_card.motor_manufacturer %> <%= @flight_card.motor %></dd>
      <dt>Rocket Type</dt>
      <dd><%= @flight_card.rocket_type %></dd>
      <dt>Stages</dt>
      <dd><%= @flight_card.stages %></dd>
      <dt>Cluster</dt>
      <dd><%= @flight_card.cluster %></dd>
      <dt>Launch Guide</dt>
      <dd><%= @flight_card.launch_guide %></dd>
      <dt>Recovery</dt>
      <dd><%= (@flight_card.recovery&.keys || []).map { |r| r.titleize }.join(', ') %></dd>
      <dt>Notes</dt>
      <dd><%= @flight_card.chute_release %></dd>
    </dl>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">RSO</span>
    <%= form_with url: launch_update_rso_card_path, model: @flight_card, method: :patch do |f| %>
      Used pads:
      <div class="pad-container">
        <% @approved_pads.each do |pad| %>
          <div class="pad-item"><%= pad %></div>
        <% end %>
      </div>
      <br/>
      <label>
        <%= f.check_box :rso_approved, class: 'filled-in' %>
        <span>RSO Approved</span>
      </label><br/>
      <div class="input-field">
        <%= f.telephone_field :pad_assignment %>
        <%= f.label :pad_assignment %>
      </div>

      <%= f.submit 'Save', class: 'btn' %>
      <%= link_to 'Cancel', launch_rso_cards_path, class: 'btn-flat' %>
    <% end %>
  </div>
</div>
