<div class="input-field">
  <%= f.date_field :date %>
  <%= f.label :date %>
</div>

<div class="input-field">
  <%= f.text_field :name %>
  <%= f.label :name %>
</div>

<div class="input-field">
  <%= f.text_field :location %>
  <%= f.label :location %>
</div>

<div class="input-field">
  <%= f.text_field :rso %>
  <%= f.label :rso, 'RSO Password' %>
</div>

<div class="input-field">
  <%= f.text_field :lco %>
  <%= f.label :lco, 'LCO Password' %>
</div>
