<!DOCTYPE html>
<html>
  <head>
    <title>FlightCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'stylesheets' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="blue-grey lighten-5">
    <div class="flash-container">
      <% flash.each do |type, message| %>
        <div class="flash <%= type.to_s == 'alert' ? 'red' : 'green lighten-1' %>">
          <%= message %>
          <button class="flash-close <%= type == 'alert' ? 'red' : 'green lighten-1' %>"><i class="material-icons">close</i></button>
        </div>
      <% end %>
    </div>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Flight Cards</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger" id="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <% if session[:launch_id] %>
              <li>
                <%= link_to 'Flight Cards', launch_flight_cards_path(session[:launch_id]) %>
              </li>
            <% end %>
            <li>
              <%= link_to 'Launches', launches_path %>
            </li>
            <li>
              <%= link_to 'RSO', session[:rso_login] ? launch_rso_cards_path(session[:launch_id]) : rso_launches_path %>
            </li>
            <li>
              <%= link_to 'LCO', session[:lco_login] ? launch_lco_cards_path(session[:launch_id]) : lco_launches_path %>
            </li>
            <li>
              <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
            </li>
          <% else %>
            <% if session[:launch_id].present? %>
              <li><%= link_to 'RSO', launch_rso_cards_path(session[:launch_id]) %></li>
              <li><%= link_to 'LCO', launch_lco_cards_path(session[:launch_id]) %></li>
            <% end %>
            <li>
              <%= link_to 'Sign In', new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="slide-out">
      <% if current_user %>
        <% if session[:launch_id] %>
          <li>
            <%= link_to 'Flight Cards', launch_flight_cards_path(session[:launch_id]) %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Launches', launches_path %>
        </li>
        <li>
          <%= link_to 'RSO', session[:rso_login] ? launch_rso_cards_path(session[:launch_id]) : rso_launches_path %>
        </li>
        <li>
          <%= link_to 'LCO', session[:lco_login] ? launch_lco_cards_path(session[:launch_id]) : lco_launches_path %>
        </li>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
        </li>
      <% else %>
        <% if session[:launch_id].present? %>
          <li><%= link_to 'RSO', launch_rso_cards_path(session[:launch_id]) %></li>
          <li><%= link_to 'LCO', launch_lco_cards_path(session[:launch_id]) %></li>
        <% end %>
        <li>
          <%= link_to 'Sign In', new_user_session_path %>
        </li>
      <% end %>
    </ul>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
